/*body[data-filter-main=show-all] {
    background:white;
}

body[data-filter-main=by-content-type] {
    background:rgba(3, 248, 228, 0.1);
}

body[data-filter-main=by-software] {
    background:rgba(255, 0, 200, 0.1);
}*/

.sample {
    opacity:0.5;
}

/* debugging func to hide unused filters*/
.disabled {
    color: magenta;
  }
  
  .disabled li:not(.disabled) {
    /* parent li is disabled but not the current li */
    color: cyan;
  }
