@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:wght@700&display=swap');
body, #lightbox {font-family: 'Noto Sans', sans-serif;}
h1 {font-size: 1.5rem;}
#lightbox .lb-caption,
#lightbox .lb-number { font-weight:normal;}
#lightbox .lb-caption {color: white; font-size: 1.5rem; line-height: 1.25em;}
#lightbox .lb-number {margin-top: 1rem; font-size: 1rem;}

#lightbox .lb-dataContainer {
    background-color: rgba(0,0,0,0.5);
    border-radius: .5rem;
    padding: .5rem;
}

a.lb-prev,
a.lb-next {
    position: relative;
    z-index:1;
}

.lb-nav a.lb-prev {
    background: url('https://www.uuguiden.no/media/prev.svg') left 1rem top 50% no-repeat;
}

.lb-nav a.lb-next {
    background: url('https://www.uuguiden.no/media/next.svg') right 1rem top 50% no-repeat;
}

a img {border: 1px solid blue; transform:scale(1);}
a:hover img,
a:focus img {
  transform: scale(1.05);
  transition: transform ease 0.2s;
}